<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>เมนู</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ng-container *ngIf="checkpermission('Teacher') === 16">
        <ion-list>
          <ng-container *ngFor="let p of pagesTeacher">
            <button menuClose ion-item  (click)="openPage(p)">
              {{p.title}}
            </button>
          </ng-container>
          <button menuClose ion-item  (click)="logout()">
              ออกจากระบบ
          </button>
        </ion-list>
    </ng-container>

    <ng-container *ngIf="checkpermission() === 15">
        <ion-list>
          <ng-container *ngFor="let p of pagesStudents">
            <button menuClose ion-item  (click)="openPage(p)">
              {{p.title}}
            </button>
          </ng-container>
          <button menuClose ion-item  (click)="logout()">
              ออกจากระบบ
          </button>
        </ion-list>
    </ng-container>

    
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>